# --- Python / Venv ---
.venv/
__pycache__/
*.pyc
*.pyo

# --- Datasets ---
dataset_test_yolov8/
dataset_test_boxes/
dataset_final_yolov8/
dataset_final_boxes/

# --- Models / Weights ---
models/
models_tfl/
models_yolo/
models_cnn
*.pt
*.pth
*.onnx
*.engine

# --- Models / Weights ---
models/
models_tfl/
models_yolo/
models_cnn
*.pt
*.pth
*.onnx
*.engine

# --- YOLO / Ultralytics outputs ---
runs/
tuning_results/

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/

# --- Docs ---
Aufgabe_RKIM_WS2526.pdf
